<div class="px-8 md:px-4 py-10 md:py-32 mt-24 {% if include.bg %}bg-{{include.bg}} rounded-3xl {% endif %}">
    <div class="flex flex-col-reverse justify-evenly md:flex-row items-center gap-8 max-w-7xl mx-auto 
    {% if include.left %}md:flex-row{% else %}md:flex-row-reverse{% endif %}">
        <!-- Image -->
        <div class="w-full md:w-1/2 flex justify-center relative max-w-md">
            <img src="{{ include.image | relative_url }}" alt="{{ include.headline | escape }}"
                class="max-h-128 object-contain w-full max-w-md">
            <!-- Tags -->
            {% if include.tags %}
              {% include elements/imagetags.html tags=include.tags layout=include.tags_layout bg=include.bg %}
            {% endif %}
        </div>
        <!-- Text Content -->
        <div class="w-full md:w-1/3 flex flex-col items-start {% if include.centered %}text-center md:text-left{% endif %}">
            {% include elements/section-headline.html text=include.headline centered=include.centered %}
            {% include elements/section-subheadline.html text=include.subheadline centered=include.centered %}
            <div class="mb-4 is-animated text-lg md:text-base max-w-md {% if include.centered %}mx-auto md:mx-0{% endif %}">
             {{ include.text | markdownify }}
            </div>
            {% if include.button_text and include.button_link %}
                {% include elements/button.html text=include.button_text link=include.button_link %}
            {% endif %}
        </div>
    </div>
</div>