{% assign page_key = page.key | default: page.url | replace:'/','' | default: 'index' %}
{% assign section = 'slider' %}

{% assign section_data = site.data.textblocks.pages[page_key].sections[section] | default:
site.data.textblocks.sections[section] %}

<style>
    .marquee-track {
        animation: marquee 30s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
</style>

<div class="overflow-hidden w-full relative pt-10 md:pt-24">
    <div class="marquee-track flex w-max gap-4">
        {% for slide in site.data.textblocks.sections.slider.slides %}
        <div class="flex flex-col items-center min-w-80">
            <h3 class="text-3xl font-medium mb-4 text-center">{{ slide.headline }}</h3>
            <img src="{{ slide.image | relative_url }}" alt="{{ slide.headline }}" class="w-full h-auto object-contain">
        </div>
        {% endfor %}
        {% for slide in site.data.textblocks.sections.slider.slides %}
        <div class="flex flex-col items-center min-w-80">
            <h3 class="text-3xl font-medium mb-4 text-center">{{ slide.headline }}</h3>
            <img src="{{ slide.image | relative_url }}" alt="{{ slide.headline }}" class="w-full h-auto object-contain">
        </div>
        {% endfor %}
    </div>
</div>
<div class="px-8 md:px-4 pb-10 md:pb-24">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mt-24">
            <h2 class="text-4xl font-bold font-display mb-4 is-animated">{{ section_data.headline }}</h2>
        </div>
    </div>
</div>