{% assign page_key = page.key | default: page.url | replace:'/','' | default: 'index' %}
{% assign section = 'steps_quote' %}

{% assign section_data = site.data.textblocks.pages[page_key].sections[section] | default:
site.data.textblocks.sections[section] %}

<div class="px-8 md:px-4 py-10 md:py-32">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mb-16">
            {% include elements/section-headline.html text=section_data.headline %}
            {% include elements/section-subheadline.html text=section_data.subheadline %}
        </div>
        <div class="flex flex-col lg:flex-row gap-8 mb-16 max-w-md mx-auto lg:max-w-full">
            {% for step in section_data.steps %}
            <div class="relative flex-1 flex justify-center items-center is-animated"
            style="animation-delay: {{ forloop.index0 | times: 0.4 }}s;">
                <svg class="w-full h-full" width="320" height="449" viewBox="0 0 320 449" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-{{ step.bg }}" d="M238.597 0C269.006 10.6432 296.608 27.2515 320 48.4209V224.56C320 312.98 248.421 384.559 160.117 384.559C131.497 384.559 104.642 377.056 81.4033 363.917V448.653C50.9942 438.01 23.3917 421.403 0 400.233V224.095C0 135.674 71.579 64.0957 159.883 64.0957C188.503 64.0957 215.358 71.5977 238.597 84.7363V0Z"/>
                </svg>
                <div class="absolute top-1/3 left-1/2 -translate-x-1/2 text-center w-full px-8">         
                    <h2 class="text-4xl font-medium font-display w-full">{{ step.title }}</h2>
                    <span class="font-bold text-lg mb-4 block">{{ step.subtitle }}</span>
                    <p class="text-lg md:text-base">
                        {{ step.text }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
        {% include elements/button.html text=section_data.button_text link=section_data.button_link %}
        </div>
    </div>
</div>