<div class="px-4 my-32">
    <div class="flex flex-col md:flex-row items-center gap-8 max-w-7xl mx-auto 
    {% if include.left %}md:flex-row{% else %}md:flex-row-reverse{% endif %}">
        <!-- Image -->
        <div class="w-full md:w-1/2 flex justify-center relative">
            <img src="{{ include.image | relative_url }}" alt="{{ include.headline | escape }}"
                class="max-h-128 object-contain w-full">
            <!-- Tags -->
            {% if include.tags %}
            <div class="absolute inset-0 pointer-events-none">
                {% for tag in include.tags %}
                {% assign tag_class = "" %}
                {% if forloop.length == 2 %}
                    {% if forloop.index == 1 %}
                        {% assign tag_class = "right-4 top-4" %}
                    {% elsif forloop.index == 2 %}
                        {% assign tag_class = "left-4 bottom-1/2" %}
                    {% endif %}
                {% elsif forloop.length == 4 %}
                    {% if forloop.index == 1 %}
                        {% assign tag_class = "left-4 top-1/4" %}
                    {% elsif forloop.index == 2 %}
                        {% assign tag_class = "right-4 top-1/4 translate-y-5" %}
                    {% elsif forloop.index == 3 %}
                        {% assign tag_class = "left-4 bottom-1/4" %}
                    {% elsif forloop.index == 4 %}
                        {% assign tag_class = "right-4 bottom-1/4 translate-y-10" %}
                    {% endif %}
                {% endif %}
                <span
                    class="flex items-center px-4 py-2 rounded-full text-xl w-fit border-12 border-white {{ tag.color }} absolute {{ tag_class }}"
                    data-scroll
                    data-scroll-speed="{{ forloop.index0 | minus: 0.4 | times: 0.05 }}">
                    {% if tag.svg %}
                        <span class="w-5 h-5 mr-2 inline-block align-middle {% if tag.svg_color %}{{ tag.svg_color }}{% endif %}">
                            {{ site.data.svgs[tag.svg] }}
                        </span>
                    {% endif %}
                    <span>{{ tag.text }}</span>
                </span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- Text Content -->
        <div class="w-full md:w-1/2 flex flex-col items-start">
            {% include section-headline.html text=include.headline %}
            {% include section-subheadline.html text=include.subheadline %}
            <div class="mb-4 is-animated">
             {{ include.text | markdownify }}
            </div>
            {% if include.button_text and include.button_link %}
            {% include button.html text=include.button_text link=include.button_link %}
            {% endif %}
        </div>
    </div>
</div>