---
layout: default
---

{% include layout/blog-header.html %}

<div class="px-8 md:px-4 pb-24">
    <div class="max-w-3xl mx-auto reveal prose prose-p:mb-4 prose-headings:mb-4 prose-headings:font-display prose-headings:mt-4 prose-ul:list-disc prose-ul:list-inside prose-ol:list-decimal prose-ol:list-inside prose-ul:ps-0 prose-li:ps-0 prose-marker:text-black">
        {{ content }}
    </div>
</div> 

{% if page.faqs and page.faqs.size > 0 %}
  {% include sections/faqs-simple.html faqs=page.faqs headline="Häufig gestellte Fragen" %}
{% endif %}

{% if page.show_similar %}
  {% include sections/similar-articles.html %}
{% endif %}

{% if page.show_newsletter %}
  {% include sections/newsletter.html %}
{% endif %}